<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- Header Links --}}
    {{>headerlink}}
</head>

<body>
    {{!-- Navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off" required>
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Sat</p>
                        <p id="today_date">28 Nov</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Name</p>
                        <div class="middle_layer  data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
            let weekday = ['Sunday','Monday','Tueday','Wednesday','Thursday','Friday','Saturday'];

            let currentTime = new Date();
            days = weekday[currentTime.getDay()];
            console.log(days);
            let day = document.getElementById('day');

            day.innerText = days;
        };
        getCurrentDay();
    </script>
</body>

</html>
